<h1>Living History</h1>

<p>The story of <a href="/player.html">Joseph Kittinger</a>

<p>Play a story from a URL:</p>
<form action="/player.html" method="GET">
  <input type="text" name="url" style="width:400px"/><br />
  <input type="Submit" value="Play" />
</form>
